body {
  font-family: verdana, arial, sans-serif;
  margin: 2em;
  background-color: white;
  color: #676767;
  text-align: center;
}

button {
  padding: 13px;
  border-radius: 13px;
}

#gameButtonArea > button {
  height:150px;
  transform:rotate(45deg);
	width:150px;
  margin-top:35px;
  margin-bottom:35px;
  margin-right:35px;
  margin-left:35px;
}

#button1 {
  background: #9EA9BD;
}

#button1:active, #button1.lit {
  background: #7B91BA;
}

#button2 {
  background: #BBADA8;
}

#button2:active, #button2.lit {
  background: #BA9E94;
}

#button3 {
  background: #A5A6AE;
}

#button3:active, #button3.lit {
  background: #797A82;
}

#button4 {
  background: #E7E4E7;
}

#button4:active, #button4.lit {
  background: #C5C0C5;
}

#button5 {
  background: #F3DCD4;
}

#button5:active, #button5.lit {
  background: #ECC9C7;
}

#button6 {
  background: #FFCEA1;
}

#button6:active, #button6.lit {
  background: #FAA255;
}

.hidden {
  display: none;
}